<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Kindura</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <!--<welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>-->
  </welcome-file-list>
  <!--<servlet>
    <description>Create a C4R XML output from the given pids</description>
    <display-name>Cerif4Ref</display-name>
    <servlet-name>Cerif4Ref</servlet-name>
    <servlet-class>uk.ac.kcl.cerch.r4r.Cerif4Ref</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cerif4Ref</servlet-name>
    <url-pattern>/Cerif4Ref</url-pattern>
  </servlet-mapping>-->
  <!--<servlet>
	<servlet-name>UploadRequestHandler</servlet-name>
	<jsp-file>/UploadRequestHandler.jsp</jsp-file>
  </servlet>
	 
  <servlet-mapping>
	<servlet-name>UploadRequestHandler</servlet-name>
	<url-pattern>/UploadRequestHandler</url-pattern>
  </servlet-mapping>-->
	<servlet>
        <servlet-name>LoginRequestHandler</servlet-name>
        <servlet-class>org.kindura.LoginRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>LoginRequestHandler</servlet-name>
        <url-pattern>/LoginRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>UploadRequestHandler</servlet-name>
        <servlet-class>org.kindura.UploadRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>UploadRequestHandler</servlet-name>
        <url-pattern>/UploadRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>SearchRequestHandler</servlet-name>
        <servlet-class>org.kindura.SearchRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>SearchRequestHandler</servlet-name>
        <url-pattern>/SearchRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>DownloadRequestHandler</servlet-name>
        <servlet-class>org.kindura.DownloadRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>DownloadRequestHandler</servlet-name>
        <url-pattern>/DownloadRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>SearchFileRequestHandler</servlet-name>
        <servlet-class>org.kindura.SearchFileRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>SearchFileRequestHandler</servlet-name>
        <url-pattern>/SearchFileRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>AddProjectRequestHandler</servlet-name>
        <servlet-class>org.kindura.AddProjectRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>AddProjectRequestHandler</servlet-name>
        <url-pattern>/AddProjectRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ViewProjectRequestHandler</servlet-name>
        <servlet-class>org.kindura.ViewProjectRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ViewProjectRequestHandler</servlet-name>
        <url-pattern>/ViewProjectRequestHandler</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>CollectionExistedException</servlet-name>
        <servlet-class>org.kindura.CollectionExistedException</servlet-class>
	</servlet>	
	<servlet-mapping>
        <servlet-name>CollectionExistedException</servlet-name>
        <url-pattern>/CollectionExistedException</url-pattern>
    </servlet-mapping>
</web-app>